/* General settings */
* {
box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    padding: 50px;
    background-color: rgb(237, 233, 228);
}

/* Form container */
main {
    display: flex;
    justify-content: center;
}

/*Form layout */
form {
    width: 80%;
}

/* Fieldset layout */
fieldset {
    border: 3px solid #000;
    background: rgb(201, 201, 201);
    padding: 0 40px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

/*Styling for inside form */
/* Stack fields using Flexbox */
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Label spacing */
label {
    margin: 0;
    padding: 4px;
    font-weight: bold;
}

/* Inputs, select, textarea */
input, select, textarea {
    padding: 5px;
    border: 1px solid #000;
    width: 100%;
}

/* Submit button */
button {
    padding: 8px;
    border: 2px solid #000;
    width: 70%;
    font-weight: bold;
    align-self: center;
}
